<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="cerrar()">
      <ion-icon style="color:#fff;font-size: 25px;" name="arrow-back">

      </ion-icon>
    </ion-button>
    <ion-title>Titulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!!userInfo">
  <!-- <ion-grid fixed>
    <div *ngIf="IdRol === rolesEnum.rolProfesor">
      <ion-row>
        <ion-col>
          <h3>Seleccione avatar para la Clase</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-slides [options]="avatarSlide">
            <ion-slide *ngFor="let avatar of avatars">
              <img class="pick-avatar" src="/assets/avatarsClases/{{avatar.img}}"
                [ngClass]="{'pick-avatar-seleccionado':avatar.seleccionado}" (click)="seleccionarAvatar(avatar)">
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

      <form>
        <ion-row>
          <ion-col>

            <ion-list>

              <ion-item>
                <ion-label>Nombre:</ion-label>
                <ion-input [(ngModel)]="clase.Nombre" name="nombre" type="text" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Código Clase:</ion-label>
                <ion-input [(ngModel)]="clase.CodigoClase" name="contrasenya" type="text" required></ion-input>
              </ion-item>



            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row style="text-align: center;">
          <ion-col>
            <ion-button (click)="crearClase()" type="submit" color="tertiary" shape="round">
              Crear clase
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div *ngIf="IdRol === rolesEnum.rolAlumno">
      <ion-row>
        <ion-col>
          <h3>Introduzca Código para unirse a una Clase</h3>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item>
          <ion-label>Código Clase:</ion-label>
          <ion-input [(ngModel)]="codigoFiltrado" name="contrasenya" type="text" required></ion-input>
        </ion-item>
      </ion-list>

      <ion-row style="text-align: center;">
        <ion-col>
          <ion-button (click)="consultarClases()" type="submit" color="tertiary" shape="round">
            Consultar clases
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-list>
        <ion-item-sliding *ngFor="let clase of clasesFiltradas">
          <ion-item (click)="openChat(chat)">
            <ion-avatar slot="start">
              <ion-img src="/assets/avatarsClases/av-1.png"></ion-img>
            </ion-avatar>
    
            <ion-label>
              <ion-grid>
                <ion-row>
    
                  <ion-col size="6">
                    <h2><b>{{clase.Nombre}}</b></h2>
                  </ion-col>
    
                  <ion-col size="6">
                    <p>{{clase.NombreProfesor}}</p>
                  </ion-col>
                </ion-row>
    
    
                <ion-row>
                  <ion-col size="12">
                    <p>Código Clase: {{clase.CodigoClase}}</p>
                  </ion-col>
                </ion-row>
    
              </ion-grid>
            </ion-label>

          </ion-item>

          <ion-item-options>

            <ion-item-option color="success" (click)="registrarUsuarioClase(clase)">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-item-option>

          </ion-item-options>

        </ion-item-sliding>

      </ion-list>
    </div>



  </ion-grid> -->

</ion-content>