<app-header [titulo]="titulo" [avatar]="avatar" [nombre]="nombre"></app-header>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-sliding *ngFor="let nota of notas">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/avatars/todoIcon.png"></ion-img>
        </ion-avatar>

        <ion-label>
          <ion-grid>
            <ion-row>

              <ion-col size="8">
                <h2><b>{{nota.titulo}}</b></h2>
              </ion-col>

              <ion-col size="4">
                <h2><b>{{getDate(nota.fecha)}}</b></h2>
              </ion-col>


            </ion-row>
            <p><b>{{nota.descripcion}}</b></p>


          </ion-grid>
        </ion-label>

      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" (click)="eliminarNotas(nota._id)" name="trash"></ion-icon>
        </ion-item-option>


      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab (click)="crearNota()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>