<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="cerrar()">
      <ion-icon style="color:#fff;font-size: 25px;" name="arrow-back">

      </ion-icon>
    </ion-button>
    <ion-title>Crear una nueva Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>


    <form>
      <ion-row>
        <ion-col>

          <ion-list>

            <ion-item>
              <ion-label>Titulo</ion-label>
              <ion-input [(ngModel)]="nota.titulo" name="nombre" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Descripción</ion-label>
              <ion-textarea [(ngModel)]="nota.descripcion" type="textarea" name="descripcion"></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label>Fecha evento</ion-label>
              <ion-datetime  displayFormat="DD/MM/YYYY" placeholder="Select Date" [(ngModel)]="nota.fecha" [ngModelOptions]="{standalone: true}"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="text-align: center;">
        <ion-col>
          <ion-button (click)="crearNota()" type="submit" color="tertiary" shape="round">
            Crear nota
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>

</ion-content>