<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:#ffff" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      FloriChat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="onLogOut()">Logout</ion-button> -->
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat)">

      <ion-avatar slot="start">
        <ion-img [src]="chat.Img"></ion-img>
      </ion-avatar>

      <ion-label>
        <h2><b>{{chat.Nombre}}</b></h2>
        <p>{{chat.Descripcion}}</p>
      </ion-label>

    </ion-item>

  </ion-list>


</ion-content>