<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none" color="primary">
            <ion-avatar style="margin-right: 10px;" item-left>
              <ion-img style="border: 2px black solid;" src="/assets/avatars/{{avatar}}"></ion-img>
            </ion-avatar>
            <h2>{{titulo}}</h2>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item style="margin-top: 10px;" color="primary" lines="none">
            {{nombre}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:#ffff" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>