<ion-tabs>
  <ion-tab-bar color="primary" slot="bottom">

    <!-- En los tabs de ionic en vez de utilizar routerLink añadimos "tab="ruta" de esta manera nos movemos de un tab a otro -->

    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon  name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clase">
      <ion-icon name="school"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>