ion-content
{
    --background:#dae1e4
}

.estiloProfesor
{
    
}


.estiloAlumno
{
    margin-left: 50px;
}


.estiloProfesor
{
    margin-right: 50px;
    background: #99ef9c;
}
b{
    color:black;
}