<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="cerrar()" color="dark">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card [ngClass]="{'estiloAlumno':mensaje.idRol=='2','estiloProfesor':mensaje.idRol=='1'}"
    *ngFor="let mensaje of mensajes">

    <ion-card-header style="padding: 0px;">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col size="7">
            <ion-card-title><b>{{mensaje.titulo}}</b></ion-card-title>
          </ion-col>

          <ion-col size="3">
            <b> {{getDate(mensaje.date)}}</b>
          </ion-col>

          <ion-col size="1">
            <div *ngIf="mensaje.idRol === 1">
              <ion-icon name="school"></ion-icon>
            </div>

            <div *ngIf="mensaje.idRol === 2">
              <ion-icon name="ribbon"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content style="padding: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <b>{{mensaje.texto}}</b>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab (click)="abrirAlertMensaje()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="mail"></ion-icon>
  </ion-fab-button>
</ion-fab>