<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="cerrar()" color="dark">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Clase de {{nombreClase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [ngClass]="{'estiloAlumno':mensaje.idRol=='2','estiloProfesor':mensaje.idRol=='1'}"
    *ngFor="let mensaje of mensajes">

    <ion-card-header style="padding: 0px;">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col size="12">
            <div *ngIf="mensaje.idRol === 1">
              <b>{{nombreProfesor}} </b>
            </div>
            <div *ngIf="mensaje.idRol === 2">
              <b>{{nombreAlumno}}</b>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content style="padding: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <b>{{mensaje.texto}}</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div style="text-align: right;">
              {{mensaje.date | date:'dd/MM/yyyy hh:mm'}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="mensaje">
    </ion-textarea>
    <ion-button (click)="enviarMensaje()" color="success">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>

<!-- <ion-fab (click)="abrirAlertMensaje()" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="mail"></ion-icon>
  </ion-fab-button>
</ion-fab> -->