<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="cerrar()">
      <ion-icon style="color:#fff;font-size: 25px;" name="arrow-back">

      </ion-icon>
    </ion-button>
    <ion-title>Listado alumnos por Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="/assets/avatars/{{alumno.avatar}}"></ion-img>
        </ion-avatar>

        <ion-label>
          <ion-grid>
            <ion-row>

              <ion-col size="6">
                <h2><b>{{alumno.nombre}}</b></h2>
              </ion-col>

              <ion-col size="6">
                <p><b>{{alumno.email}}</b></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>

      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="eliminarAlumnoClase(alumno.email)"></ion-icon>
        </ion-item-option>

        <ion-item-option color="success" (click)="abrirChat(alumno.email,alumno.nombre)">
          <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


</ion-content>